<hr/>

<table class='table table-hover'>
	<thead>
		<tr>
			<th>Screen name</th>
			<th>Text</th>
		</tr>
	</thead>
	<tbody>
		<% for(var i=0; i < twitterData.length; i++) { %>
		   <tr>
		     <td><%= twitterData[i].screenName %></td>
		     <td><%= twitterData[i].text %></td>
		   </tr>
		<% } %>
	</tbody>
</table> 


