<hr/>
<br>
<% if(subscriptions.length > 0) { %>
	Currently subscribed to:
	<table>
		<thead>
			<th>Username</th>
			<th>screen name</th>
		</thead>
		<tbody>
		<% for(let i=0; i < subscriptions.length; i++) { %>
			<td>subscriptions[i].user.name</td>
			<td>subscriptions[i].user.screen_name</td>
		<% } %>
		</tbody>
	</table>
<% } else { %>
	<p>There are currently no subscribed users</p>
<% } %>
<br>

<input type='text'/ name='id' id='userId'>
<button class='btn btn-default' id='btnAdd'>Add</button>
<!-- <button class='btn btn-danger'>Remove</button> -->

<div id='resultsDiv'></div>

<script>
	$(function() {
		$('#btnAdd').click(function(e){

			var userId = $('#userId').val();
			$.post('twitter/subscriptions/add',
				{id: userId},
				function(data){
					$('#resultsDiv').html(data);
				});
		});
	});

</script>