<DOCTYPE!>
<html>
<head>
	<title>Home</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

	<div class='container'>
		<h2>Welcome to the App</h2>

		<br>
		<p>Pick a sandbox...</p>
		<ul class="nav">
		  <li class="nav-item">
		    <a class="nav-link" href="/twitter">Twitter</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/mongo">Mongo</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/react">React</a>
		  </li>
		</ul>

	</div>
</body>
</html>