<DOCTYPE!>
<html>
<head>
	<title>Mongo</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

	<div class='container'>
		<h1>Mongoose/MongoDB stuff</h1>

		<br>
		<p>Please create a new row</p>
		<br>
		<form>
			<div class='row'>
				<div class="form-group col-sm-3">
					<label for="field1">Field 1</label>
					<input type="text" class="form-control" name='field1' id="field1">
				</div>
				<div class="form-group col-sm-3">
					<label for="field2">Field 2</label>
					<input type="text" class="form-control" name='field2' id="field2">
				</div>		
				<div class="form-group col-sm-3">
					<label for="field3">Field 3</label>
					<input type="text" class="form-control" name='field3' id="field3">
				</div>		
			</div>

		  <button  class="btn btn-default" id='btnSubmit'>Submit</button>
		  <button  class="btn btn-primary" id='btnBetter'>Better Button</button>
		</form>

		<hr/>
		<div id='results'></div>


	</div>



	<!-- SCRIPTS -->
	<script>

		// Shorthand for $( document ).ready()
		$(function() {
			debugger;

			$('#btnBetter').click(function(e){
				e.preventDefault();
				alert('yo...you clicked the better button');
			});

			$('#btnSubmit').click(function(e){
				debugger;
				e.preventDefault();
				var field1 = $('#field1').val();
				var field2 = $('#field2').val();
				var field3 = $('#field3').val();
				// alert(`submit button was pressed with following values:\n\tField1: ${field1}\n\tField2: ${field2}\n\tField3: ${field3}`);

				$.ajax({
					url: "mongo/TestModel/add/", 
					type: "post",
					success: function(result){
						debugger;
    					$("#results").text(result);
  					}
  				});
			});

		});


	</script>
</body>
</html>